* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-image: url("./RESOURCES/18129294.jpg");
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.formIn {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(128, 191, 255, 0.0); /* bluish color with opacity */
    backdrop-filter: blur(10px); /* blur effect */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* shadow effect */
    border-radius: 10px;
}

.formIn input {
    height: 1.5rem;
    width: 30rem;
    margin-bottom: 10px;
}
.formIn textarea {
    width: 30rem;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

.formIn .sBtn {
    background-color: #574caf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
}

